<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Encriptador</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo doloremque fugit laboriosam eveniet libero ad repellat esse deserunt ab quisquam hic suscipit autem delectus obcaecati illum corrupti fuga, quia quis.</p>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <!-- NOTA: No es necesario que usemos las 12 columnas de bootstrap. En este caso usamos 7 y 3 para algunos tamaños.
            NOTA2: Con "offset-md-1" le indico que cuando estemos en el tamaño medio se desplace 1 columna. En este caso tendremos las 7 del primer div, a continuación vendrá el desplazamiento o separación de 1 columna y luego las 3 columnas restantes definidas. -->
            <img src="../../../assets/ARS.png" class="img-fluid img-proyecto">
            <!-- NOTA2: img-fluid es una propiedad de bootstrap que hace que la imagen sea responsive, mientras que img-proyecto la agregamos por si tengo que cambiar algo en el css. --> 

        </div>
    </div>
</div>
