<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <!-- Con img-fluid (de Bootstrap) hago que la imagen sea responsiva, que se achique/agrande junto con el tamaño de la ventana. -->
        <img src="../../../assets/portada.jpg" class="img-fluid" id="fotoDePerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Calamante Jorge Alberto</p>
        <p>Ing. en Sistemas de Información</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi recusandae odio dignissimos quae laboriosam ut nam saepe aspernatur sit, adipisci, id praesentium quo dolor soluta consectetur. Corrupti ratione quam eligendi.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor magni nesciunt soluta commodi voluptas adipisci quos explicabo. Natus ipsam, quam, perferendis, velit deserunt culpa qui fuga maxime laboriosam adipisci doloremque.</p>
        </span>
    </div>    
</div>